button{
    width: 420px;
    height: 55px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
    background-color: var(--color-second);
    border: none;
    font-family: inherit;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px var(--color-for);
    transition: transform 200ms ease-in-out;
}

button:hover{
    transform: scale(1.05);
}