input{
    height: 52px;
    width: 420px;
    left: 510px;
    top: 188px;
    border-radius: 0px;
    border-radius: 0px;
    box-shadow: 4px 4px 0px var(--color-for);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
}